<section>
    <h3>About Me</h3>

    <div class="face-lockup">
        <div class="face-img"></div>
    </div>
    <div class="about_me_blurb">
        <p><strong>I am Kevin McDermott.</strong> I'm a (white hat) hacker. A computerphile. A snowboarder. A mountain biker. A developer. </p>
        <p>This is my professional website. Here you will find blog posts about things I find interesting, vulnerable vm write-ups, technical book reviews, and hopefully a lot more.</p>
        <p>I currently work remotely in beautiful Denver, CO as an Application Penetration Tester for MailChimp. Any opinions you find on this site are my own and do not necessarily reflect those of my employer.</p>
    </div>

</section>